@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
}

img{
    object-fit: cover;
}

.height-9{
    height: 9%;
}    

.height-14{
    height: 14%;
}

.height-77{
    height: 77%;
}

.width-textInput{
    width: 90%;
}

.width-send{
    width: 4.2rem;
}

input[type="search"]::-webkit-search-cancel-button{
    display: none;
}

/* width */
.scroll-base::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
.scroll-base::-webkit-scrollbar-track {
    background: #744102; 
}
   
/* Handle */
.scroll-base::-webkit-scrollbar-thumb {
    background: #583001; 
}
  
  /* Handle on hover */
.scroll-base::-webkit-scrollbar-thumb:hover {
    background: #311B01; 
}

/* width */
.scroll-chat::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
.scroll-chat::-webkit-scrollbar-track {
    background: #F1E3B6; 
}
   
/* Handle */
.scroll-chat::-webkit-scrollbar-thumb {
    background: #F1E3B6; 
}
  
  /* Handle on hover */
.scroll-chat::-webkit-scrollbar-thumb:hover {
    background: #E8C16F; 
}

/* MEDIA QUERIES */

@media screen and (max-height: 650px) {
    #content-block{
        min-height: 600px;
    }
    .content{
        height: 500px;
    }
    .content-register{
        height: 550px;
    }
}

@media screen and (min-height: 1200px) {
    .content{
        height: 60%;
        width: 40% !important;
    }
}


/* CUSTOM FONT WEIGHT IN WELCOME PAGE */
#w600{
    font-style: 'normal';
    font-weight: 600;
}
#w400{
    font-style: 'normal';
    font-weight: 400;
}
#w300{
    font-style: 'normal';
    font-weight: 300;
}
@media screen and (max-width: 640px) {
    .bananachat_nav_welcome{
        margin-left: auto;
        margin-right: auto;
    }
    .bananachat_logo_nav{
        margin-top: 2rem;
    }
}
