/* ------------- INDEX SECTION INTRO ------------- */

#intro .navbar .navbar-brand a img{
    width: 3rem;
}
#intro .navbar .navbar-toggle a img, .navbar .navbar-links a img{
    width: 3rem;
}
#intro .circle-intro{
    width: 25rem;
    height: 25rem;
}

/* ------------- LOGIN ------------- */

.block-fluid{
    min-height: 100vh;
}
