/* ------------- MEDIA QUERIES ------------- */

@media screen and (max-width: 1400px) and (min-width: 1200px){
    #chat .sidebar{
        width: 40rem;
    }
}

@media screen and (max-width: 1200px){
    #chat .sidebar{
        display: none;
        width: 25rem;
    }
    #sidebar.collapse{
        position: absolute;
        display: block !important;
        z-index: 20;
        height: 100vh;
    }
    #chat .chat-body #toggle-button{
        display: block;
    }
}

@media screen and (max-width: 992px){
    #chat-input{
        width: 88%;
    }
    #chat .sidebar #div-arrow{
        display: block;
    }
}

@media screen and (max-width: 768px){
    #intro .navbar .navbar-links.nav-collapse{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
        min-height: 9rem;
        justify-content: space-around;
    }
    #chat-input{
        width: 85%;
    }
}

@media screen and (max-width: 576px){
    #chat .chat-body .chat-messages .message{
        max-width: 60%;
    }
    #chat-input{
        width: 85%;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
    }
    .div-chat-send{
        min-width: 3rem;
        width: 15%;
    }
    .div-chat-send #chat-send{
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }

    #chat #sidebar.collapse{
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    #chat .chat-body .chat-messages .message{
        max-width: 80%;
    }
    #chat-input{
        width: 80%;
    }
    .div-chat-send{
        width: 20%;
    }
    .sidebar-header{
        justify-content: space-around;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

@media screen and (max-width: 380px){
    #user-profile{
        width: 2.5rem;
        height: 2.5rem;
    }
    .sidebar-buttons a img{
        width: 70%;
    }
    .sidebar-search{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .sidebar-header{
        justify-content: space-around !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}

@media screen and (max-width: 300px){
    #user-profile{
        width: 3rem;
        height: 3rem;
    }
    .sidebar-buttons a img{
        width: 90%;
    }
    .chat-profile{
        width: 3.2rem !important;
        height: 3.2rem !important;
    }
    .sidebar-search button{
        margin-right: 6px;
    }
}

@media screen and (max-height: 410px){
    #chat .chat-body .chat-messages{
        height: 48vh;
    }
}

@media screen and (max-height: 450px) and (min-height: 410px){
    #chat .chat-body .chat-messages{
        height: 50vh;
    }
}

@media screen and (max-height: 500px) and (min-height: 450px){
    #chat .chat-body .chat-messages{
        height: 54vh;
    }
}

@media screen and (max-height: 550px) and (min-height: 500px){
    #chat .chat-body .chat-messages{
        height: 58vh;
    }
}

@media screen and (max-height: 650px) and (min-height: 550px){
    #chat .chat-body .chat-messages{
        height: 62vh;
    }
}

@media screen and (max-height: 700px) and (min-height: 650px){
    #chat .chat-body .chat-messages{
        height: 68vh;
    }
}

@media screen and (min-height: 1000px){
    #chat .chat-body .chat-messages{
        height: 78vh;
    }
}
