/* ------------- MEDIA QUERIES ------------- */

@media screen and (max-width: 1200px){
    #chat .sidebar{
        display: none;
    }
    #chat .chat-body #toggle-button{
        display: block;
    }
}

@media screen and (max-width: 992px){
    #chat-input{
        width: 88%;
    }
}

@media screen and (max-width: 768px){
    #intro .navbar .navbar-links.nav-collapse{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
        min-height: 9rem;
        justify-content: space-around;
    }
    #chat-input{
        width: 85%;
    }
}

@media screen and (max-width: 576px){
    #chat .chat-body .chat-messages .message{
        max-width: 60%;
    }
    #chat-input{
        width: 85%;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
    }
    .div-chat-send{
        min-width: 3rem;
        width: 15%;
    }
    .div-chat-send #chat-send{
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }
}

@media screen and (max-width: 400px){
    #chat .chat-body .chat-messages .message{
        max-width: 80%;
    }
    #chat-input{
        width: 75%;
    }
    .div-chat-send{
        width: 25%;
    }
}

@media screen and (max-height: 400px){
    #chat .chat-body .chat-messages{
        height: 45vh;
    }
}

@media screen and (max-height: 500px){
    #chat .chat-body .chat-messages{
        height: 45vh;
    }
}

@media screen and (max-height: 550px) and (min-height: 500px){
    #chat .chat-body .chat-messages{
        height: 48vh;
    }
}

@media screen and (max-height: 600px) and (min-height: 550px){
    #chat .chat-body .chat-messages{
        height: 55vh;
    }
}
