@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', monospace;
    background-color: rgb(218, 218, 218);

}

 /* LOGIN TEMPLATE */
div img{
    object-fit: cover;
    height: 70%;
    width: 80%;
    
}
