@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
}

.height-9{
    height: 9%;
}    

.height-10{
    height: 10%;
}

.height-81{
    height: 81%;
}

/* width */
.scroll-base::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
.scroll-base::-webkit-scrollbar-track {
    background: #744102; 
}
   
/* Handle */
.scroll-base::-webkit-scrollbar-thumb {
    background: #583001; 
}
  
  /* Handle on hover */
.scroll-base::-webkit-scrollbar-thumb:hover {
    background: #311B01; 
}

/* MEDIA QUERIES */

@media screen and (max-height: 650px) {
    #content-block{
        min-height: 600px;
    }
    .content{
        height: 500px;
    }
    .content-register{
        height: 550px;
    }
}

@media screen and (min-height: 1200px) {
    .content{
        height: 60%;
        width: 40% !important;
    }
}
